@model final_project.Models.SearchViewModel
@{
    ViewData["Title"] = "Search";
}


<div>
	<h1>Search</h1>

	<p>Search for books.</p>

	<form asp-controller="Search" asp-action="Index" method="get">
		<input type="text" name="id" />
		<input type="submit" value="Search" />
	</form>

</div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Author)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Quality)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

			<tr>
				<td>					
					@Html.DisplayFor(model => model.Title)
				</td>
				<td>
					@Html.DisplayFor(model => model.Author)
				</td>
				<td>
					@Html.DisplayFor(model => model.Quality)
				</td>
				<td>
					@Html.DisplayFor(model => model.Price)
				</td>
				<td>
					<a asp-action="Details" asp-route-id="1">Details</a> |
				</td>
			</tr>

	</tbody>
</table>

    