@model BookBarn.Models.SaleItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SaleItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSold)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SaleItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
