@model BookBarn.Models.SaleItem

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/SaleItem.css" />

<h2 style="margin-top:50px">Details</h2>

<div>
    <h4>SaleItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSold)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Isbn)
        </dd>
		<dt>
			@Html.DisplayNameFor(model => model.Image)	
		</dt>	
		<dd>
			<div class="image">
				@if (Model.Image != null && Model.Image.Length > 0)
				{
					<img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Image))" />
				}
			</div>
		</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SaleItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
