@model IEnumerable<BookBarn.Models.SaleItem>

@{
    ViewData["Title"] = "Index";
}

<h2 style="margin-top:50px">Sell</h2>

<h4> <a asp-action="Create">Create sale item</a> <h4>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isbn)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SaleItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SaleItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SaleItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
