@model IEnumerable<BookBarn.Models.SaleItem>

@{
    ViewData["Title"] = "Index";
}

<h2 class='add-margin'>Books I'm selling</h2>
<a class="btn btn-success btn-lg" asp-action="Create">Add New</a>

<div class='add-margin'>
  <table class="table">
      <thead>
          <tr>
                  <th>
                      @Html.DisplayNameFor(model => model.Price)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Quality)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Title)
                  </th>
              <th></th>
          </tr>
      </thead>
      <tbody>
  @foreach (var item in Model) {
          <tr>
              <td>
                  @Html.DisplayFor(modelItem => item.Price)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Quality)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Title)
              </td>
              <td>
                  <a asp-action="Edit" asp-route-id="@item.SaleItemId">Edit</a> |
                  <a asp-action="Details" asp-route-id="@item.SaleItemId">Details</a> |
                  <a asp-action="Delete" asp-route-id="@item.SaleItemId">Delete</a>
              </td>
          </tr>
  }
      </tbody>
  </table>
</div>
