@model BookBarn.Models.SearchViewModels.SearchViewModel
@{
    ViewData["Title"] = "Search";
}

@section AddToHead{
    <link rel="stylesheet" href="~/css/Search.css" type="text/css" />
}

<div class="add-margin">
	<h1>Search</h1>

	<p>Search for books.</p>

	<form asp-controller="SaleItems" asp-action="Search" method="get">
		<select asp-for="SearchType" asp-items="Model.SearchTypes">
			<option value="title">Title</option>
			<option value="author">Author</option>
			<option value="isbn">ISBN</option>
		</select>

		<input type="text" name="searchString" value= "@Context.Request.Query["searchString"]" />
		<input type="submit" value="Search" />

		<div>
			Sort by:
			<select asp-for="SortType" asp-items="Model.SortTypes">
				<option value="title">Title: A-Z</option>
				<option value="authorFirst">Author - First Name: A-Z</option>
				<option value="authorLast">Author - Last Name: A-Z</option>
				<option value="price">Price: Lowest first</option>
			</select>
			<div>
				<a asp-action="AdvancedSearch">Advanced Search</a>
			</div>
	</form>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				Image
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SearchResults[0].Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SearchResults[0].Author)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SearchResults[0].Quality)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SearchResults[0].Price)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var resultItem in Model.SearchResults)
		{
			<tr>
				<td class="thumbnail">
					@if (resultItem.ImageLinks != null)
					{
						<img src="@Html.DisplayFor(model => resultItem.ImageLinks)">
					}
				</td>
				<td>
					@Html.DisplayFor(model => resultItem.Title)
				</td>
				<td>
					@Html.DisplayFor(model => resultItem.Author)
				</td>
				<td>
					@if (resultItem.Quality.Equals("NEW"))
					{
						resultItem.Quality = "New";
					}
					else if (resultItem.Quality.Equals("USED_LIKE_NEW"))
					{
						resultItem.Quality = "Used - Like new";
					}
					else if (resultItem.Quality.Equals("USED_OLD"))
					{
						resultItem.Quality = "Used - Old";
					}
					else if (resultItem.Quality.Equals("USED_VERY_OLD"))
					{
						resultItem.Quality = "Used - Very old";
					}

					@Html.DisplayFor(model => resultItem.Quality)
				</td>
				<td>
					@Html.DisplayFor(model => resultItem.Price)
				</td>
				<td>
					<a asp-action="SearchDetails" asp-route-id="@resultItem.SaleItemID">Details</a>
				</td>
				<td>
					<a asp-action="AddToShoppingCart" asp-controller="ShoppingCarts" asp-route-saleItemid="@resultItem.SaleItemID">Add To Cart</a>
				</td>
			</tr>
		}
	</tbody>
</table>
